{% extends 'admin/cms/page/plugin/change_form.html' %}
{% comment %} {% extends 'cascade/admin/change_form.html' %} {% endcomment %}
{% comment %} {% load cms_static i18n l10n static %}


{% block extrastyle %}
    
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link href="plugin/color/jquery.colorpicker.bygiro.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme-custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/banner-form.css' %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
{% endblock %}

{% block after_field_sets %}

{% endblock %} {% endcomment %}
