<div class="box-theme-form-devider"></div>
{% comment %} Card size {% endcomment %}
<div class="box-theme-title banner-text-layout">
    Card Size
</div>
<div class="box-theme-form-item">
    {{adminform.form.card_size}}
</div>
<div class="box-theme-form-devider button-layout"></div>
{% comment %} Product Status Filter {% endcomment %}
<div class="box-theme-sub-title banner-text-layout">
    Product Filter
</div>
<div class="box-theme-help-text">
    {{adminform.form.product_filter.help_text}}
</div>
<div class="box-theme-form-item">
    {{adminform.form.product_filter}}
</div>
<div class="box-theme-form-devider button-layout"></div>
{% comment %} Card deatils {% endcomment %}
<div class="box-theme-title banner-text-layout">
    Card Details
</div>
{% comment %} Product Card info {% endcomment %}
<div class="box-theme-sub-title banner-text-layout">
    Product Info
</div>
<div class="box-theme-help-text">
    {{adminform.form.product_info_display.help_text}}
</div>
<div class="box-theme-form-item">
    {{adminform.form.product_info_display}}
</div>
<div class="box-theme-form-devider button-layout"></div>
<div class="box-theme-title banner-text-layout">
    Button
</div>
{% comment %} First Button {% endcomment %}
<div class="carousel-btn-sect first-btn-sect">
    <div class="box-theme-sub-title banner-text-layout">
        First Button
    </div>
    <div class="box-theme-form-item banner-edit-section">
        <div class="box-theme-form-item-inline">
            <div class="box-theme-form-item-inline-input">
                {% comment %} <input type="text" placeholder="First button's text" class="form-input"> {% endcomment %}
                <input name="{{adminform.form.first_button_text.name}}" id="{{adminform.form.first_button_text.name}}" type="text" value="{% if adminform.form.first_button_text.value %}{{adminform.form.first_button_text.value}}{% endif %}" placeholder="First button's text" class="form-input mb-2">
                <input name="{{adminform.form.first_button_link.name}}" type="text" value="{% if adminform.form.first_button_link.value %}{{adminform.form.first_button_link.value}}{% endif %}" placeholder="First button's link" class="form-input">
                <div class="mt-2">{{adminform.form.first_button_internallink}}</div>
            </div>
        </div>
        {% if adminform.form.first_button_text.errors %}
            {% for error in adminform.form.first_button_text.errors  %}
                <div class="alert alert-danger error-block" role="alert">
                    {{error}}
                </div>
            {% endfor %}
        {% endif %}
        {% if adminform.form.first_button_link.errors %}
            {% for error in adminform.form.first_button_link.errors  %}
                <div class="alert alert-danger error-block" role="alert">
                    {{error}}
                </div>
            {% endfor %}
        {% endif %}
        {% if adminform.form.first_button_internallink.errors %}
            {% for error in adminform.form.first_button_internallink.errors  %}
                <div class="alert alert-danger error-block" role="alert">
                    {{error}}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="box-theme-form-item theme-tab-content style-tab" id="btn_style_1">
        <ul class="theme-button-tab ">
            <input type="hidden" value="{{adminform.form.first_button_style.value}}" name="{{adminform.form.first_button_style.name}}" id="{{adminform.form.first_button_style.name}}">
            <li onclick="setCarouselFirstBtnStyle('fill')" class="{% if adminform.form.first_button_style.value == 'fill' %}active{% endif %}">
                <button class="btn-theme btn-shape-1 btn-color-1 btn-style-1 {{global_theme_config.primary_button_shape}}">Button</button>
            </li>
            <li onclick="setCarouselFirstBtnStyle('outline')" class="{% if adminform.form.first_button_style.value == 'outline' %}active{% endif %}">
                <button class="btn-theme btn-shape-1 btn-color-1 btn-style-2 {{global_theme_config.primary_button_shape}}">Button</button>
            </li>
        </ul>
    </div>
</div>
