{% extends 'carousel/carousel_plugin.html' %}
{% load static %}
{% block carousel_items %}
    {% for item in items %}
        <div>
            <div class="carousel-item-box pt-5 carousel-item-box-style-5">
                {% if item.photo %}
                    <div class="carousel-item-box-img mb-5 tcImage">
                        <img src="{{ item.photo.url }}" class="car_main_img card_tc_image" alt="car_main_img" loading="lazy">
                    </div>
                {% endif %}
                <div class="carousel-item-box-desc">
                    <div class="carousel-item-box-desc-title">
                        {% if 'TITLE' in instance.glossary.testimonial_info_display %}{{item.subject}}{% endif %}
                    </div>
                    <div class="carousel-item-box-desc-desc">
                        {% if 'MESSAGE' in instance.glossary.testimonial_info_display %}
                            {{item.body|truncatechars:100}}
                            <a href="#" class="more_view" data-text="{{item.body}}">more </a>
                        {% endif %}
                    </div>
                    <div class="carousel-item-box-desc-auth">
                        {% if 'AUTHOR' in instance.glossary.testimonial_info_display %}- {{item.display_name}}{% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock carousel_items %}

{% block initilize_carousel %}
    $( document ).ready(function() {
        $('.more_view').on('click', function () {
            var more_text = $(this).data("text");
            $('.more-body-text').html(more_text);
            $('#moreModal').modal('show');
            return false;
        });

        $(".modal-close").on('click', function () {
            $('#moreModal').modal('toggle');
            return false;
        });

        $('.carousel-layout-slider-{{instance.id}}').slick({
            dots: false,
            arrows: true,
            infinite: true,
            speed: 300,
            slidesToShow: 2,
            slidesToScroll: 2,
            //appendDots: ".carousel-layout-slider-{{instance.id}}-dots",
            //appendArrows: ".carousel-layout-slider-{{instance.id}}-arrows",
            //prevArrow: "<button type='button' class='slick-prev'><img src='{% static 'images/ic-left.svg' %}' alt='arrow-left'></button>",
            //nextArrow: "<button type='button' class='slick-next'><img src='{% static 'images/ic-right.svg' %}' alt='arrow-right'></button>",
            responsive: [
                {
                    breakpoint: 1000,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 700,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
        $('.carousel-layout-slider-{{instance.id}}').removeClass("d-none");
    });
{% endblock %}
